{#Load bootstrap django resources#}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>


<div class="row">
    <div class="col-xs-12">
        <div class="thumbnail">
            <div class="embed-responsive embed-responsive-16by9">
                {#                            <iframe id="player" class="embed-responsive-item"#}
                {#                                    src="http://www.youtube.com/embed/{{ video.get_yt_code }}?autoplay=true"></iframe>#}
                <iframe class="scPlayer" src="{{ video.soundCloud }}"
                        scrolling="no" frameborder="no"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="caption">
                <h3>Información</h3>

                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#1" data-toggle="tab">Titulo</a>
                    </li>
                    <li role="presentation"><a href="#2" data-toggle="tab">Descripción</a></li>
                    <li role="presentation"><a href="#3" data-toggle="tab">Tipo</a></li>
                    <li role="presentation"><a href="#4" data-toggle="tab">Propietario</a></li>
                    <li role="presentation"><a href="#5" data-toggle="tab">Categoria</a></li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" id="1">
                        <h3>{{ video.title }}</h3>
                    </div>
                    <div class="tab-pane" id="2">
                        <h4>{{ video.description }}</h4>
                    </div>
                    <div class="tab-pane" id="3">
                        <h3>{{ video.mediaType }}</h3>
                    </div>
                    <div class="tab-pane" id="4">
                        <h3>{{ video.user }}</h3>
                    </div>
                    <div class="tab-pane" id="5">
                        <h3>{{ video.category }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Clips Recomendados</h3>
    </div>
    <table class="table table-hover">
        <tbody>
        {% for clip in video.clips.all %}
            <tr>
                <td>Titulo: {{ clip.name }}</td>
                <td>Inicio: {{ clip.seg_initial }}</td>
                <td>Fin: {{ clip.seg_final }} </td>
                <td><span class="glyphicon glyphicon-play" aria-hidden="true" style="cursor: pointer"
                          onclick="playClip({{ clip.seg_initial }},{{ clip.seg_final }})"></span></td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
{% if user.is_authenticated %}#}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Agregar clips</h3>
        </div>
        <form action="{{ video.get_absolute_SC_url }}" enctype="multipart/form-data" method="post">
            <div class="panel-body">

                <div class="form-group">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </div>

            </div>
            <div class="panel-footer">
                {% buttons %}
                    <input type="submit" value="añadir" class="btn btn-primary btn-block"/>
                {% endbuttons %}

            </div>
        </form>
    </div>

{% endif %}

<div class="modal-footer">

    <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Cancelar
    </button>
</div>


<script>
    var iframe = document.querySelector('.scPlayer');
    var widget = SC.Widget(iframe);

    var clipTimer;

    function playClip(startTime, endTime) {
        widget.play();
        clearTimeout(clipTimer);
        widget.seekTo(startTime * 1000);
        clipTimer = setTimeout(pauseAudio, (endTime - startTime) * 1000);
    }

    function pauseAudio() {
        widget.pause();
    }

</script>
